{#
This partial is the most basic setup for a redirect to checkout button that the plugin requires.
Simply create an <a>/<button> or any other element that you want,
with the data-redirect-to-checkout attribute.

Example: add this to your product templates:
{% include 'partials/buttons/checkout.html.twig' %}
#}

<button class="shop_button_checkout" data-redirect-to-checkout>
    <i class="fa fa-shopping-cart pulse" style="pointer-events: none;"></i>
    <p class="shop_checkout_items" id="shop-cart-items">...</p>
</button>